[user]
	name = amilkov1
	email = alex.milkov.contractor@weather.com\n
[credential]
	helper = osxkeychain
[alias]
	pf = push --force-with-lease
	ps = push
  pl = pull
	l = log
  lo = log --oneline
  rv = revert
	t = tag
	a = add
  b = branch
	c = commit
	cl = clone
	d = diff
	s = status
	as = rebase -i --autosquash 
  rbc = rebase --continue
  psu = push --set-upstream
	st = stash
	co = checkout
	cob = checkout -b
  cp = cherry-pick
	rs = reset
	rb = rebase   
  ra = remote add
  rr = remote rm
	f = fetch
	m = merge
