[user]
	name = amilkov1
	email = alex.milkov.contractor@weather.com\n
[credential]
	helper = osxkeychain
[alias]
  a = add

  b = branch
  bd = branch -D
  bsu = branch -set-upstream-to=
  bdp = push origin --delete

	co = checkout
	cob = checkout -b

  cp = cherry-pick
  cpc = cherry-pick --continue

	cl = clone
  clr = clone --recursive
  cle = clean -fd

	c = commit
  cf = commit --fixup
  ca = commit --amend
  cw = commit -m "wip"

  d = diff
  ds1 = diff --stat HEAD~1 HEAD

	f = fetch

  l = log
  lo = log --oneline

  m = merge

  pl = pull

  ps = push
  psu = push --set-upstream
  psuo = push --set-upstream origin
  pst = push --tags
  pf = push --force-with-lease

	rb = rebase
	pasi = rebase -i --autosquash
  as = rebase --autosquash
  # Fixup squash on last commit so often
  rb1 = rebase -i HEAD~2
  rb2 = rebase -i HEAD~3
  rb3 = rebase -i HEAD~4
  rb4 = rebase -i HEAD~5
  rba = rebase --abort
  rbc = rebase --continue

  ra = remote add
  rr = remote rm
  rao = remote add origin
  rau = remote add upstream
  r = remote -v

	rs = reset

  rv = revert

  rmf = rm --cached
  rmd = rm -r --cached

	s = status

  st = stash
  stp = stash pop
  sto = stash push -m "oneStash"
  sta = stash apply

	t = tag

  # lines in repo
  lines = "!f() { git ls-files | xargs wc -l ; }; f"
  # lines by contributor
  lbc = "!f() { git ls-files | while read f; do git blame --line-porcelain $f | grep '^author '; done | sort -f | uniq -ic | sort -n ; }; f"
  # lines by contributor summed
  lines1 = "!f() { git ls-files | while read f; do git blame --line-porcelain $f | grep '^author '; done | sort -f | uniq -ic | sort -n | awk '{count+=$1} END{print count}'; }; f"

